



.box-login{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(2,0,36,1);
    background-color: white;
    border: 1px solid rgba(2,0,36,1);
    border-radius: 20px;
    margin-top: 40px;
}

.form-login{
    text-align: left;
}

.login{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    cursor: pointer;
}

.login input{
    width: 340px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid rgba(0,212,255,1);
    border-radius: 15px;
}

.btn-login{
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0,212,255,1);
    align-items: center;
}