
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

.navbar{
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.38699229691876746) 1%, rgba(0,212,255,1) 82%);
 margin-bottom: 20px;
}

.navbar-dark .navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}
