.listUsers .link{
    text-decoration: none;
    align-items: center;

}

.box-link{
    width: 180px !important;
    height: 180px !important;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid #cccccc;
    border-radius: 15px;
}